.search-bar:hover {
  background-color: green;
  color: white;
}

@media only screen and (max-width: 768px) {
  h4 {
    display: none;
  }
  a {
    display: none;
  }
  select {
    display: none;
  }
  .disabled {
    display: none;
  }
  .search-bar {
    display: none;
  }
  button {
    display: none;
  }
  h3 {
    margin-left: 40ch;
  }
}

@media screen and (min-width: 769px) and (max-width: 4200px) {
  .menu-button {
    display: none;
  }
}
